.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.201) !important; /* forzar color de fondo */
    border: none !important; /* opcional: quitar borde */
}


/* Sobrescribe el background del icono */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.logo-img{
    width: 3rem;
    border-radius: 50%;
}

.navbar-brands{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
}

.white{
    color: white;
    text-decoration: none;
}


@media (min-width: 1024px) {
    
    .logo-img{
        width: 3.2rem;
        margin-left: 1rem;
    }
    
    .navbar-flex{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .nav-item{
        padding: 0px 2rem;
    }

    .white{
        font-size: 1.2rem;
    }

    /* Aplica a todos los links dentro del nav */
    /* .navbar-flex .nav-item .white {
        transition: filter 0s ease;
    } */

/* Cuando hago hover sobre cualquier link */
    /* .navbar-flex:hover .white {
        filter: blur(3px);
        font-size: 1.22rem;
    } */

/* Pero el link que está en hover NO se blurea */
    /* .navbar-flex .white:hover {
        filter: none;
    } */
    
}