*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    
}

html{
    scroll-behavior: smooth;
}

.bg{
    background-image: url("../img/marmol.jpg");
}





@font-face {
    font-family: "Gravitas";
    src: url('../font/GravitasOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atma-medium";
    src: url('../font/Atma-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Atma-light";
    src: url('../font/Atma-Light.ttf');
    font-weight: normal;
    font-style: normal;
}